<section id="teaser">
	<p><%= @email %> is an invalid email address, or there was some other error &mdash; please email <a href="mailto:support">support@yourdomain.com</a> and let them know you wish to unsubscribe.</p>
</section>