<p>teaser makes creating teaser pages for your new project easy.</p>
<form action="" method="post">
	<label for="email">Email</label><input type="email" name="email" id="email" placeholder="Email" required>
	<input type="submit" name="submit" value="Stay Updated" id="submit">
</form>